:root{
    --ColorBgbd: hsl(100,100%,100%);
    --ColorSombra: 4px 4px 4px 6px hsl(0,0%,20%);
    --ColorBorder: hsl(0,0%,33%);
    --ColorBlue:hsl(245,100%,0%);

}

body{
    background-color: hsl(0,0%,40%);

}
.container{
    background-color: var(--ColorBgbd);
    border: 1px solid;
    border-color: var(--ColorBorder);
    width:700px;
    height: 900px;
    margin: 0;
    margin: 0 auto;
    box-shadow: var(--ColorSombra);
    display:flex;
    
}


.bglet{
    background-color: var(--ColorBlue);
    width:270px;
    height: 900px;
    margin: 0 let;
    display: inline-block;
    color: white;
}

.foto{
    width:150px;
    height: 200px;
    margin-left:10px;
    opacity: 0.8;


}

.cont-datos{
    text-align: center;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    color: black;
}

.redes{

    background-color: var(--ColorBlue);
    width:400px;
    height: 58px;
}

.contenido{
    margin-top: 70px;
    width: 340px;
    height:200px;
    background-color: rgb(247, 246, 215);
    color: black;
   

}

.contenido-titulo{

    color: black;
    text-align: left;
    margin-left: 2em;
    background-color: pink;
}
.imagen{
    display: flex;
    justify-content: center;
}
hr{
    background-color: var(--ColorBlue);
    border: 4px solid;
}

.nombre p{
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
}

.perfil h3{
    text-align: center;
    margin-bottom: 0;
}

.perfil p{
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

.contacto{
    padding: 2em;
}
.contacto h3{
    text-align: center;
}

.Tecnologia{
    padding: 2em;
}

.Tecnologia h3{
    text-align: center;
}

h1{
    Color: white;
    text-align: center;
}

