:root{
    --ColorBgbd: hsl(100,100%,100%);
    --ColorSombra: 4px 4px 4px 6px hsl(0, 0%, 50%);
    --ColorBorder: hsl(0,3%,70%);
    --ColorBlue:hsl(245,100%,0%);
    --ColorBody: hsl(0,0%,97%);
    --Colorinter: hsl(60,50%,90%);
    --ColorinterRef: hsl(60,80%,60%);
    --ColorBorderPrimary: hsl(0,0%,10%);

}

body{
    background-color: var(--ColorBody);
    font-family: 'Roboto', sans-serif;
}

/* Estilos del aside Panel lateral */
.container{
    display:flex;
    width: 900px;
    background-color: var(--ColorSombra);
    margin: 0 auto;
    border-right: 1px solid;
    border-color: var(--ColorBorder);
    background-color: var(--ColorBgbd);
    box-shadow: var(--ColorSombra);
}
.aside{
    width: 40%;
    background-color: var(--ColorBlue);
    color: white;

}

.aside figure img{
    width: 250px;
    opacity: 85%;
}

.aside h2{
    text-align: center;
    border-bottom: .5px solid;
    background-color: var(--ColorBorderPrimary);
}

.pnlateral{
    margin:20px;
}

/* estilos del main panel central*/

.main{
    padding: 2em;
}

.main h2{
    border-top: .5px solid;
    border-bottom: .5px solid;
}

.main .Nomperfil{
   background-color: var(--Colorinter) ; 
   border-radius: 3px;
}

.Nomperfil h1,p{
    margin:0;
    text-align: center;

}

.main .experencia h3{
    border-bottom: .5px solid;
    margin: .5em;
    padding: .25em;
}

.mainferen{
    background-color: var(--Colorinter);
    border-radius: 10px;
    margin: 1em;
}

.Ref{
    text-align: center;
}

.Ref h2{
    background-color: white;
}

.ref1{
    display: inline-flex;
    padding:.5em;
    text-align: center;
}

.ref2{
    display: inline-flex;
    padding:.5em;
    padding-bottom:1em;
    text-align: center;
}


.Ref figure img{
    width: 50px;
}

.Ref article {
    border:1px solid var(--Colorinter);
    border-color: var(--ColorBorder);
    border-radius: 10px;
    margin: .25em;
   
}