:root{
    --ColorBgbd: hsl(100,100%,100%);
    --ColorSombra: 4px 4px 4px 6px hsl(0, 0%, 50%);
    --ColorBorder: hsl(0,3%,70%);
    --ColorBlue:rgb(208, 214, 219);
    --ColorBody: rgb(234, 237, 240);
    --Colorinter: rgb(239, 248, 250);
    --ColorinterRef: hsl(60,80%,60%);
    --ColorBorderPrimary: rgb(36, 81, 148);

}

body{
    background-color: var(--ColorBody);
    font-family: 'Roboto', sans-serif;
}

.containerbdy{
    width: 900px;
    background-color: var(--ColorSombra);
    margin: 0 auto;
    border-right: 1px solid;
    border-color: var(--ColorBorder);
    border-radius: 15px;
    background-color: var(--ColorBgbd);
    box-shadow: var(--ColorSombra);
}
/* Estilos del aside Panel lateral */
.container{
    display:flex;
    width: 900px;
    margin: 0 auto;

}

.header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    background-color: var(--ColorBorderPrimary);
}

.footers{
    margin-top: 32px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    background-color: var(--ColorBorderPrimary);

}
.aside{
    width: 40%;
    margin-left:10px;
    margin-top: 20px;
    border-radius: 7px;
    height: 99%;
    background-color: var(--ColorBlue);
    color: var(--ColorBorderPrimary);

}

.aside figure img{
    width: 250px;
    
}

.aside h2{
    text-align: center;
    border-bottom: .5px solid;
    color: var(--ColorBorderPrimary);
}

.main h4{
    color: var(--ColorBorderPrimary);
}

.pnlateral{
    margin:20px;
}

/* estilos del main panel central*/

.main{
    padding: 2em;
    
}

.main h2{
    border-top: .5px solid;
    border-bottom: .5px solid;
    color: var(--ColorBorderPrimary);
}

.main h4{
    color: var(--ColorBorderPrimary);
}

.containerbdy .Nomperfil{
   background-color: var(--Colorinter) ; 
   border-radius: 3px;
   border-bottom: 1px solid;
   display: flex;
   width: 99%;
   margin:auto;
   margin-top:10px;
}

.Nomperfil h1,h5{
    margin-left: 2em;
    text-align: bottom;
    margin-bottom: 0;

}

.Nomperfil > h5{
    margin-left: 320px;
    margin-top: 30px;
    text-align: center;
}

.main .experencia h3{
    border-bottom: .5px solid;
    margin: .5em;
    padding: .25em;
    color: var(--ColorBorderPrimary);
}

.mainferen{
    background-color: var(--Colorinter);
    border-radius: 10px;
    margin: 1em;
    color: var(--ColorBorderPrimary);
}

.Ref{
    text-align: center;
}

.Ref h2{
    background-color: white;
}

.ref1{
    display: inline-flex;
    padding:.5em;
    text-align: center;
}

.ref2{
    display: inline-flex;
    padding:.5em;
    padding-bottom:1em;
    text-align: center;
}


.Ref figure img{
    width: 50px;
}

.Ref article {
    border:1px solid var(--Colorinter);
    border-color: var(--ColorBorder);
    border-radius: 10px;
    margin: .25em;
   
}